.clicker :is(#clicker__counter, #clicker__speed) {
  font-weight: bold;
}

.clicker {
  min-height: 200px;
}

.img__cookie {
  display: flex;
  min-height: 150px;
  justify-content: center;
  align-items: center;
}