* {
  box-sizing: border-box;
}

:root {
  --progress-filled: rgb(77, 146, 248);
  --progress-empty: #f3f3f3;
  --progress-radius: 16px;
}

progress::-webkit-progress-value {
  background: var(--progress-filled);
  border-radius: var(--progress-radius);
}

progress::-webkit-progress-bar {
  background: var(--progress-empty);
  border-radius: var(--progress-radius);
}


progress::-moz-progress-bar {
  background: var(--progress-filled);
  border-radius: var(--progress-radius);
}

progress {
  width: 0%;
  height: 20px;
  border: none;
  transition: width 0.3s ease-out;
}

.progress-bar {
  position: relative;
  background-color: #f0f0f0;
  border-radius: 16px;
  width: 14rem;
  margin-bottom: 10px;
  overflow: hidden;
}

form {
  position: relative;
}

label {
  display: block;
  margin-bottom: 10px;
  border: 1px solid transparent;
  box-sizing: border-box;
}

input {
  position: absolute;
  opacity: 0;
  pointer-events: none;
  width: 0;
  height: 0;
}

button {
  font-size: 14px;
}

#file:focus ~ label {
  border-color: #e2dcdc;
}

.card {
  width: 600px;
}

.upload__counter {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.input__wrapper {
  display: inline-block;
}

.input__wrapper-button,
.send-btn {
  font-family: Golos, Arial, sans-serif;
  font-size: 14px;
  color: #fff;
  background-color: #06f;
  border: 1px solid transparent;
  vertical-align: bottom;
  border-radius: 20px;
  box-sizing: border-box;
  cursor: pointer;
  padding: 8px 12px;
}

.send-btn {
  width: 100px; 
}

.input__wrapper-button:hover,
.send-btn:hover {
  background-color: #005ce6;
}
